<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!-- 
 * Copyright (c) 2009 Ric Wright - Geo-F/X
 * 
 * All rights reserved. This program and the accompanying materials 
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/org/documents/epl-v10.html
 *
 *
 --> 
 
<plugin>
	<extension 
   		  point="org.eclipse.ui.importWizards">
    	<category
        	name="File Import"
            id="com.geofx.epubcrude.importWizards.sampleCategory">
		</category>
	</extension>
   
   	<extension  
   		  point="org.eclipse.ui.newWizards">
    	<category
            name="epubcrude Wizards"
            id="com.geofx.epubcrude.wizard">
    	</category>   
	</extension>
	
   	<extension
          point="org.eclipse.ui.perspectives">
    	<perspective
            class="com.geofx.epubcrude.plugin.PerspectiveFactory"
            icon="icons/EPUB-Logo-16.gif"
            id="com.geofx.epubcrude"
            name="epubcrude" />
   	</extension>
   	
	<extension
    		id="com.geofx.epubcrude.nature"
         	name="epubcrude Nature"
            point="org.eclipse.core.resources.natures">
	</extension>
	
	<extension
         id="com.geofx.epubcrude.newproject"
         name="New epubcrude Project"
         point="org.eclipse.ui.newWizards">
		<category
			name="epubcrude"
			id="com.geofx.epubcrude.category"	/>          
	    <wizard
            class="com.geofx.epubcrude.wizard.NewProjectWizard"
            finalPerspective="com.geofx.epubcrude"
            icon="icons/EPUB-Logo-16.gif"
            id="com.geofx.epubcrude.projectwizard"
            name="New epubcrude Project"
            project="true"
            category="com.geofx.epubcrude.category"/>
	</extension>

	<extension 
          id="com.geofx.epubcrude.builder" 
          name="epubcrude" 
          point="org.eclipse.core.resources.builders">
		<builder>
        	<run class="com.geofx.epubcrude.builders.Builder">
 	        	<parameter name="optimize" value="true"/>
           		<parameter name="comment" value="ePub Builder"/>
	        </run>
      	</builder>
  	</extension>
  	<extension
        point="org.eclipse.ui.commands">
     <command
           defaultHandler="com.geofx.epubcrude.plugin.RenameEPUB"
           description="Rename the current project&apos;s output EPUB"
           id="com.geofx.epubcrude.renameEPUB"
           name="name">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar">
        <toolbar
              id="com.geofx.epubcrude.toolbar">
           <command
                 commandId="com.geofx.epubcrude.renameEPUB"
                 disabledIcon="icons/EPUB-Logo-16.gif"
                 icon="icons/EPUB-Logo-16.gif"
                 label="Rename EPUB"
                 style="push"
                 tooltip="Reanme the EPUB output file">
           </command>
        </toolbar>
     </menuContribution>
  </extension>
  	  
 	<extension point="org.eclipse.core.contenttype.contentTypes">
 		<file-association content-type="org.eclipse.core.runtime.xml" file-extensions="opf,ncx,xpgt"/>
	</extension>
 
</plugin>
